In [2]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv('spam.csv',encoding='Windows-1252')

In [8]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
2059,ham,He didn't see his shadow. We get an early spri...,NaN,NaN,NaN
1180,ham,I'm in chennai velachery:),NaN,NaN,NaN
5033,ham,I want to go to perumbavoor,NaN,NaN,NaN
2768,ham,I am on the way to ur home,NaN,NaN,NaN
1811,ham,Do Ì_ all wan 2 meet up n combine all the part...,NaN,NaN,NaN

In [10]:
df.shape

(5572, 5)

In [11]:
# 1. Data Cleaning
# 2. EDA
# 3. Text Preprocessing
# 4. Model Building
# 5. Evaluation
# 6. Improvment
# 7. Website
# 8. Deploy

<h1>1. Data Cleaning</h1>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [13]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [14]:
df.sample(5)

        v1                                                 v2
1016  spam  FREE for 1st week! No1 Nokia tone 4 ur mob eve...
154    ham  You are everywhere dirt, on the floor, the win...
4792   ham  Or u ask they all if next sat can a not. If al...
2997   ham                                     No b4 Thursday
2167   ham                   Yes.he have good crickiting mind

In [16]:

df.rename(columns={'v1':"target",'v2':"text"},inplace=True)
df.sample(5)

     target                                               text
3091    ham  Dear, take care. I am just reaching home.love ...
4278   spam  URGENT. Important information for 02 user. Tod...
1218    ham  K..k..i'm also fine:)when will you complete th...
1799    ham       If we hit it off, you can move in with me :)
4381    ham  yeah sure thing mate haunt got all my stuff so...

In [17]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()

In [18]:
df['target'] = encode.fit_transform(df['target'])

In [22]:
df.sample(5)

      target                                               text
1024       0  Hasn't that been the pattern recently crap wee...
2951       0                           Tell me whos this pls:-)
3448       0                                Sorry. || mail? ||
3575       0  The sign of maturity is not when we start sayi...
2991       0          K.i did't see you.:)k:)where are you now?

In [24]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [26]:
df.duplicated().sum()

np.int64(403)

In [27]:
df = df.drop_duplicates(keep="first")

In [28]:
df.duplicated().sum()

np.int64(0)

In [29]:
df.shape

(5169, 2)